:root {
/* ==========================================
   Font
  ========================================== */

   --font-primary: "Swiss721", "Swiss721 Fallback", sans-serif;

/* ==========================================
   Brand Colors
  ========================================== */

  --brand-orange: oklch(76.9% 0.188 70.08);
  --brand-white: oklch(100% 0 0);
  --brand-black: oklch(0% 0 0);


  /* ==========================================
     Background
  ========================================== */

  --bg-dark: var(--brand-black);
  --bg-light: var(--brand-white);

  --surface-dark: oklch(20% 0.006 286);
  --surface-light: oklch(98% 0.002 286);


  /* ==========================================
     Text
  ========================================== */

  --text-dark: var(--brand-black);
  --text-light: var(--brand-white);

  --text-secondary-dark: oklch(45% 0.01 286);
  --text-secondary-light: oklch(82% 0.01 286);

  --text-muted: oklch(58% 0.01 286);


  /* ==========================================
     Interactive
  ========================================== */

  --primary-hover: oklch(70% 0.188 70.08);

  --text-hover: var(--brand-orange);


  /* ==========================================
     Border
  ========================================== */

  --border-light: oklch(85% 0.003 286);
  --border-dark: oklch(28% 0.006 286);


  /* ==========================================
     Effects
  ========================================== */

  --overlay: oklch(76.9% 0.188 70.08 / 0.08);
  --glow: oklch(76.9% 0.188 70.08 / 0.25);
}